<div class="col-md-2 sidebar">
  <ul class="nav nav-sidebar nav-stacked">
    <li class="alert-info"><%= link_to 'NOWY GABINET', new_office_path %></li>
    <li class="alert-warning"><%= link_to ' PODGLĄD GABINETÓW', offices_path %></li>
    <li class="alert-info"><%= link_to ' NOWA USŁUGA', new_workshop_path %></li>
    <li class="alert-warning"><%= link_to ' PODGLĄD USŁUG', workshops_path %></li>
  </ul> 
</div>
