@-ms-viewport {
  width: device-width;
}


@media screen and (max-width: 700px) {

  .idmark,
  .emailmark,
  .isadmin,
  .eactions {
    display: none;
  }
  
  .tvisits {
    margin:0;
    padding: 0;
    width: 0%;
  }

}
